---
- name: Shared facts
  include_role:
    name: shared_facts

- name: Install jdk (mac os)
  homebrew:
    name: openjdk@{{ java_version }}
    state: latest
  when: ansible_os_family == "Darwin" and not is_target_java_version_installed and not use_system_java

- name: Install jdk (Debian)
  apt: pkg=openjdk-{{ java_version }}-jdk state=latest
  become: true
  when: ansible_os_family == "Debian" and not is_target_java_version_installed and not use_system_java

- name: Apply jdk to .profile (mac os)
  blockinfile:
    path: "{{ ansible_env.HOME }}/.profile"
    create: true
    marker: "# {mark} JDK install script"
    insertafter: EOF
    block: |
      export PATH="$(brew --prefix openjdk@{{ java_version }})/bin:$PATH"
  when: ansible_os_family == "Darwin" and not is_target_java_version_installed and not use_system_java

- name: Apply JAVA_HOME to .profile (mac os)
  blockinfile:
    path: "{{ ansible_env.HOME }}/.profile"
    create: true
    marker: "# {mark} Set JDK JAVA_HOME"
    insertafter: EOF
    block: |
      export JAVA_HOME="$(brew --prefix openjdk@{{ java_version }})/libexec/openjdk.jdk/Contents/Home"
  when: ansible_os_family == "Darwin" and not is_target_java_version_installed and not use_system_java

- name: Apply jdk to .profile (Debian)
  blockinfile:
    path: "{{ ansible_env.HOME }}/.profile"
    create: true
    marker: "# {mark} JDK install script"
    insertafter: EOF
    block: |
      export JAVA_BIN_PATH=$(update-java-alternatives --list | awk '$1 ~ /{{ java_version }}/ {print $3 "/bin"}')
      export PATH="$JAVA_BIN_PATH:$PATH"
  when: ansible_os_family == "Debian" and not is_target_java_version_installed and not use_system_java

- name: Apply JAVA_HOME to .profile (Debian)
  blockinfile:
    path: "{{ ansible_env.HOME }}/.profile"
    create: true
    marker: "# {mark} Set JDK JAVA_HOME"
    insertafter: EOF
    block: |
      export JAVA_HOME="$(update-java-alternatives --list | awk '$1 ~ /{{ java_version }}/ {print $3}')"
  when: ansible_os_family == "Debian" and not is_target_java_version_installed and not use_system_java

- name: Get java path
  shell: echo $(brew --prefix openjdk@{{ java_version }})/bin
  register: java_bin_path_output_darwin
  when: ansible_os_family == "Darwin" and not is_target_java_version_installed and not use_system_java

- name: Get java path (Debian)
  shell: echo $(update-java-alternatives --list | awk '$1 ~ /{{ java_version }}/ {print $3 "/bin"}')
  register: java_bin_path_output_debian
  when: ansible_os_family == "Debian" and not is_target_java_version_installed and not use_system_java

- name: Set java path
  set_fact:
    java_bin_path: "{{ java_bin_path_output_darwin.stdout if ansible_os_family == 'Darwin' else java_bin_path_output_debian.stdout }}"
  when: ansible_os_family in ["Darwin", "Debian"] and not is_target_java_version_installed and not use_system_java

- name: Set facts
  set_fact:
    installed_java_version: "{{ java_version }}"
  when: ansible_os_family in ["Darwin", "Debian"] and not is_target_java_version_installed and not use_system_java
